*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: 0;
  user-select: none;
}
html, body{
  width: 100%;
  height: 100%;
}
li, a{
  text-decoration: none;
  list-style: none;
}

