*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  border: none;
  outline: 0;
  user-select: none;
}
html, body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
li, a{
  text-decoration: none;
  list-style: none;
}
main{
  width: 100%;
  height: 100%;
}
/*------------------------------------------------------------------------------------------*/

header{
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  box-shadow: 0px 1px 4px 0px rgba(82, 82, 82, 0.13);
  border-bottom: 3px solid rgba(139, 0, 0, 0.514);
  width: 100%;
  flex-wrap: wrap;
  z-index: 999;
}
.logo{
  width: 15%;
  object-fit: cover;
}
.header-seach{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.search{
  padding: 15px;
  width: 80%;
  height: 20%;
  border-radius: 20px 0 0 20px;
  background-color: #e9eaf0;
  font-weight: 600;
  color: gray;
}
#pesquisar{
  text-align: center;
  color: gray;
  cursor: pointer;
  background-color: #e9eaf0;
  width: 10%;
  font-size: 100%;
  padding: 15px;
  border: none;
  border-radius: 0 20px 20px 0;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.nav-client{
  width: 2rem;
}
.nav-client:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 600px){
  .logo{
    width: 40%;
  }
  .header-seach{
    width: 100%;
    margin: 10px 0px;
  }
  .nav{
    display: none;
  }
}
/*---------------------------------------------------------------------------------------------------*/

.welcome{
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url(./Main/Main1/welcome.jpg);
  background-size: cover;
}
.welcome:hover{
  opacity: 0.9;
  cursor: pointer;
}
.welcome i{
  color:darkred;
  font-size: 200px;
  margin-right: 200px;
  margin-top: 70px;
}
.welcome p{
  top: 100px;
  left: 150px;
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background-color: darkred;
  padding: 20px;
  border-radius: 20px;
}

.sombra{
  background:linear-gradient(to top, #000, transparent);
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 600px){
  .welcome{
    height: 38%;
  }
  .welcome i{
    font-size: 80px;
    margin-right: 30px;
    margin-top: 110px;
  }
  .welcome p{
      font-size: 2.5rem;
      left: 15px;
      top:50%;
      padding: 10px;
    }
  .welcome:hover{
      opacity: 1.0;}
}


/*-------------------------------------------------------------------------------------------------------*/


.categoria-itens{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.name-catalogo{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: rgb(48, 48, 48);
}
.header-navigation{
  display: flex;
  margin-top: 40px;
  z-index: 1;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.CategoriaText{
  width: 120px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  background-color: darkred;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(100, 99, 99);
  transition: 0.1s;
}
.CategoriaText:hover{
  opacity: 0.8;
  transform: scale(1.1);
 }
@media screen and (max-width: 600px){
  .header-navigation{
    gap: 5px;
  }
}



/*----------------------------------------------------------------------------------------------*/
@keyframes animacao {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: -400%; }
}
.slide-top{
  margin-top: 40px;
  width: 100%;
  background-color: #e9eaf0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.slide-anuncios {
  width: 640px;
  height: 250px;
  overflow: hidden;
  border: 2px solid black;
}
.anuncios {
  display: flex;
  align-items: center;
  height:100%;
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.anuncios img {
  height: 100%;
  width: 20%;
  object-fit: contain;
  background-color: #074d88;
}
@media screen and (max-width: 600px){
  .slide-anuncios {
    width: 95vw;
    height: 45vw;}
}

/***********************************/
.slide-ofertas{
  height: 90%;
  width: 20%;
  border: 2px solid black;
  position: relative;
  display: flex;
  align-items: center;
}
.img-ofertas{
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.img-ofertas img{
  width: 100%;
  height: 100%;
  transition: 1s;
}
.img-ofertas img:first-child{
  margin-left: -100%;
}
.btn{
  position: absolute;
  font-size: 30px;
}
#prev{
  left: -20px;
}
#next{
  right: -20px;
}

@media screen and (max-width: 600px){
  .slide-ofertas{
    height: 80%;
    width: 65%;
  }
}