*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  border: none;
  outline: 0;
  user-select: none;
}
html, body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
li, a{
  text-decoration: none;
  list-style: none;
}
main{
  width: 100%;
  height: 100%;
}
/*------------------------------------------------------------------------------------------*/

header{
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  box-shadow: 0px 1px 4px 0px rgba(82, 82, 82, 0.13);
  border-bottom: 3px solid rgba(139, 0, 0, 0.514);
  width: 100%;
  flex-wrap: wrap;
  z-index: 999;
}
.logo{
  width: 15%;
  object-fit: cover;
}
.header-seach{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.search{
  padding: 15px;
  width: 80%;
  height: 20%;
  border-radius: 20px 0 0 20px;
  background-color: #e9eaf0;
  font-weight: 600;
  color: gray;
}
#pesquisar{
  text-align: center;
  color: gray;
  cursor: pointer;
  background-color: #e9eaf0;
  width: 10%;
  font-size: 100%;
  padding: 15px;
  border: none;
  border-radius: 0 20px 20px 0;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.nav-client{
  width: 2rem;
}
.nav-client:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 600px){
  .logo{
    width: 40%;
  }
  .header-seach{
    width: 100%;
    margin: 10px 0px;
  }
  .nav{
    display: none;
  }
}
/*---------------------------------------------------------------------------------------------------*/

.welcome{
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url(./Main/Main1/welcome.jpg);
  background-size: cover;
}
.welcome:hover{
  opacity: 0.9;
  cursor: pointer;
}
.welcome i{
  color:darkred;
  font-size: 200px;
  margin-right: 200px;
  margin-top: 70px;
}
.welcome p{
  top: 100px;
  left: 150px;
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  background-color: darkred;
  padding: 20px;
  border-radius: 20px;
}

.sombra{
  background:linear-gradient(to top, #000, transparent);
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 600px){
  .welcome{
    height: 38%;
  }
  .welcome i{
    font-size: 80px;
    margin-right: 30px;
    margin-top: 110px;
  }
  .welcome p{
      font-size: 2.5rem;
      left: 15px;
      top:50%;
      padding: 10px;
    }
  .welcome:hover{
      opacity: 1.0;}
}


/*-------------------------------------------------------------------------------------------------------*/


.categoria-itens{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.name-catalogo{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: rgb(48, 48, 48);
}
.header-navigation{
  display: flex;
  margin-top: 40px;
  z-index: 1;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.header-list{
  display: flex;
  flex-direction: column;
}
.CategoriaText{
  width: 100%;
  margin-top:10px ;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.bordIcon{
  width: 100px;
  border: 3px solid gray;
  padding: 10px;
  border-radius: 20px;
}
.bordIcon:hover{
  opacity: 0.5;
  transform: scale(1.1);
 }
.categoriaIcons{
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 600px){
  .header-navigation{
    gap: 5px;
  }
}

/*----------------------------------------------------------------------------------------------*/
.main-top{
  margin-top: 30px;
  height: 30rem;
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: end;
 background-color: #e9eaf0;
}
.main-slide{
  position: relative;
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  overflow: hidden;
}
.slide-images{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.item{
  display: flex;
  justify-content: center;
  background-color:#074d88;
  width: 90vw;
  height: 100%;
  transition: all 0.7s ease-in-out;
  margin: 0 50px;
  border-radius: 20px;
}
.item:first-child{
 background-color: #e9eaf0;
}
.item img{
  height: 100%;
}
.botoes{
  position: absolute;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0 30px;
  background-color: white;
  border-radius: 50%;
  transition: all 1s;
  cursor: pointer;

}
#button1{
  left: 0;
}
#button2{
  right: 0;
}

@media screen and (max-width: 600px){
  .main-top{
    justify-content: center;
    height: 20rem;
  }
  .main-slide{
    width: 100%};
  .botoes{
    margin: 0;}
  .item{
    width: 80vw;
    height: 80vw;
  }
}
